{sub_dirs, [
            "apps/e_ann",
            "rel",
	    "deps/apps/"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git"}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git"}}
   ]}.

{require_otp_vsn, "R15"}.